/* General styling */
body {
  font-family: Arial, sans-serif;
  width: 400px;
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 10px;
}

input, textarea, button {
  width: 100%;
  margin-bottom: 10px;
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #444444;
  padding: 5px;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #555555;
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #444444;
}

.book-item div {
  display: flex;
  gap: 5px;
}

.book-item button {
  width: auto;
  background-color: #555555;
  border: 1px solid #666666;
  padding: 2px 5px;
}

.book-item button:hover {
  background-color: #666666;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#books-list::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#books-list {
-ms-overflow-style: none;
scrollbar-width: none;
}

/* Ensure proper overflow for books list */
#books-list {
max-height: 300px; /* or any height you prefer */
overflow-y: scroll;
}

.snippet-item {
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard */
}

.snippet-item:hover {
  background-color: #2b3a4e; /* Bluish-grey color */
}
